@import "reset.css";

body {
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70rem;
  width: 55rem;
  background-color: rgba(0,0,0,0.55);
  border-radius: 3rem;
}

header {
  font-size: 4.5rem;
  margin: 5rem 0 7rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-item {
  color: white;
  background-color: rgba(0,0,0,0);
  margin: 2rem;
  width: 40rem;
  height: 4rem;
  border: none;
  border-bottom: 0.2rem solid white;
}

.login-btn {
  margin: 5rem 0 4rem;
  padding: 2rem 18rem;
  background-color: #101010;
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer {
  margin: 0 0 10rem;
}

.page-link {
  margin: 4rem;
  font-size: 1.4rem;
  color: #8f8f8f;
  font-weight: 700;
}