@import "reset.css";

.container {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
}

nav {
  height: 100vh;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
}

nav .logo {
  height: 30%;
  font-size: 3rem;
  font-weight: bold;
  margin: 4rem 2.5rem;
  cursor: default;
}

nav .nav-item {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .menu .menu-item {
  height: 6.5rem;
  width: 6.5rem;
  margin: 3rem;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item i {
  color: rgb(255, 254, 235);
  font-size: 3rem;
}

.login {
  font-size: 1.3rem;
  margin: 1.5rem;
}

.login span {
  margin: 0 1rem;
  cursor: default;
}

.main {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 96rem;
  height: 76rem;
  margin: 2.5rem;
  background-color: rgba(0, 0, 0, 0.55);
  border: 3px solid #303030;
  border-radius: 1.5rem;
  font-weight: 1000;
}

.calendar-header {
  display: flex;
  font-size: 4rem;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 4rem 4rem;
}

.nav-btn {
  color: rgb(255, 254, 235);
  background-color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  border: none;
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.days {
  display: flex;
  margin: 5rem 0 2rem;
  padding: 0 4rem;
}

.day {
  font-size: 2.6rem;
  width: calc(100%/7);
  text-align: center;
  letter-spacing: 0.25rem;
  cursor: default;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #651919;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #0c488f;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  padding: 0 4rem;
}

.date {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% / 7);
  font-size: 2.6rem;
  padding: 0 0 6.7rem;
  letter-spacing: 0.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
}

.other {
  opacity: .3;
}

.today {
  position: relative;
  color: #ff0000;
  z-index: 0;
}

.select::before {
  position: absolute;
  top: -20%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgb(255, 254, 235);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
}

.search-box {
  width: 33rem;
  height: 2.5rem;
  border: none;
  border-right:0.1rem solid black;
}

.search-btn {
  width: 7rem;
  height: 2.7rem;
  border: none;
  border-left:0.1rem solid black;
  cursor: pointer;
}

.daily {
  width: 40rem;
  height: 37rem;
  margin: 2.5rem 0;
  background-color: rgba(0, 0, 0, 0.55);
  border: 3px solid #303030;
  border-radius: 1.5rem;
}

.side-header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.side-title {
  font-size: 3.2rem;
  font-weight: 700;
  cursor: default;
}

.side-btn {
  font-size: 2.5rem;
  font-weight: 700;
  border: none;
  border-radius: 1.5rem;
  padding: 0 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
}

.daily-list {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

.plan {
  width: 40rem;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.55);
  border: 3px solid #303030;
  border-radius: 1.5rem;
}

.plan-list {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}